body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.secretAccessKey, .errormsg{
    color:red;
}
.col-lg-4{
    padding: 2.5px;
    
}
.form-group{
    padding: 6px;
}
.resulturl{font-family: "serif", Helvetica, Arial;}